services:
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload

  frontend:
    build: ./frontend/inside_mvp
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
    volumes:
      - ./frontend/inside_mvp:/app
    command: npx expo start --host lan
